In [2]:
import pandas as pd

wdc = pd.read_csv('../../Data/WDC_tickbidask.txt')
wdc

                Date      time  price    bid    ask  volume
0         02/17/2010  09:30:01  42.87  42.70  43.01    1161
1         02/17/2010  09:30:01  42.87  42.70  43.01    1161
2         02/17/2010  09:30:10  42.87  42.70  42.98     116
3         02/17/2010  09:30:12  42.94  42.78  42.95   25800
4         02/17/2010  09:30:12  42.94  42.78  42.94       9
...              ...       ...    ...    ...    ...     ...
72980602  10/27/2023  17:39:42  39.00  39.00  39.12     163
72980603  10/27/2023  17:39:42  39.00  39.00  39.12    1377
72980604  10/27/2023  18:31:34  39.15  38.95  39.15     200
72980605  10/27/2023  18:49:30  39.08  38.95  39.08     200
72980606  10/27/2023  19:13:19  38.95  38.95  39.08     100

[72980607 rows x 6 columns]

In [6]:
wdc.index = pd.to_datetime(wdc['Date'] + ' ' + wdc['time'])

In [8]:
wdc = wdc.iloc[:,2:]

In [12]:
wdc.loc[:'2022-10'].to_csv('../../Data/train.csv')

In [13]:
wdc.loc['2022-11':].to_csv('../../Data/test.csv')